/* index.module.css */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color:hsl(from color h s l); 
}

.logo {
  margin-right: 0rem;
}


.loginLink {
  margin-left: 0rem;
  color: #007acc;
}

.links, .moreLinks {
  text-align: left;
  margin: 0rem 0;
} 

.sampleLink, .moreLink {
  color: #007acc;
  text-decoration: none;
  margin: 0 0.5rem;
}



.headerImage {
  margin: 1rem 0;
  width: 100%;
} 

p{
  
 margin-top: 3em;
  background-color: #221f1f;
  color: antiquewhite;
  text-align: left;
  padding: 2em;

 

}



h2{
  text-align: center;
}











